body {
    position: absolute;
    background-color: #4a6fd9;
    background-image: linear-gradient(to bottom, rgba(13, 26, 97, 0.034), #234194);
}

.fundo {
    margin-left: 96px;
    margin-right: 680px;
    background-color: white;
    margin-top: 2px;
    width: 100%;
    height: 732px;
    box-shadow: 0 0 2em #234194;
    border-radius: 7px;
}

.cachorro {
    width: 551px;
    height: 732px;
    border-radius: 7px;
}

img {
    border-radius: 7px 0px 0px 7px;
}

.dados {
    font-family: sans-serif;
    font-size: 29px;
    position: absolute;
    margin-top: 60px;
}

.create {
    margin-left: 830px;
}

.nome input[type="text"] {
    margin-top: 30px;
    text-indent: 14px;
    width: 290px;
    height: 38px;
    color: rgb(133, 131, 131);
    margin-left: 630px;
    border-radius: 30px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px 5px;
    outline: none;
}

.email input[type="text"] {
    text-indent: 14px;
    width: 625px;
    height: 38px;
    color: rgb(133, 131, 131);
    margin-top: 20px;
    margin-left: 630px;
    border-radius: 30px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px 5px;
    outline: none;
    display: block;
}

.password input[type="password"] {
    text-indent: 14px;
    width: 290px;
    height: 38px;
    color: rgb(133, 131, 131);
    margin-top: 20px;
    margin-left: 630px;
    border-radius: 30px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px 5px;
    outline: none;
}

.repeat_password input[type="password"] {
    text-indent: 10px;
    width: 290px;
    height: 38px;
    background: white;
    color: rgb(133, 131, 131);
    border: 1px solid rgb(206, 206, 206);
    margin-top: -60px;
    margin-left: 965px;
    border-radius: 30px;
    padding: 10px 5px;
    outline: none;
    display: block;
}

.phone input[type="text"] {
    font-family: sans-serif;
    margin-top: -60px;
    text-indent: 14px;
    width: 290px;
    height: 38px;
    background: white;
    color: rgb(133, 131, 131);
    border: 1px solid rgb(206, 206, 206);
    margin-left: 965px;
    border-radius: 30px;
    padding: 10px 5px;
    outline: none;
    display: block;
}

.register input[type="button"] {
    border: none;
    background: #4a6fd9;
    margin-top: 20px;
    text-align: center;
    width: 635px;
    height: 55px;
    color: white;
    margin-left: 630px;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
    font-weight: bold;
}

.google input[type="button"] {
    border: none;
    background: #e7443d;
    margin-top: 6px;
    text-align: center;
    width: 635px;
    height: 55px;
    color: white;
    margin-left: 630px;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    text-indent: 15px;
}

.facebook input[type="button"] {
    border: none;
    background: #3c5a96;
    text-align: center;
    width: 635px;
    height: 55px;
    color: white;
    margin-top: 22px;
    margin-left: 630px;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    text-indent: 15px;
}

.txt1 {
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 883px;
    margin-top: 35px;
    margin-bottom: 7px;
}

.txt2 {
    font-size: 16px;
    margin-left: 831px;
    margin-top: 8px;
    margin-bottom: 7px;
}

.line1 {
    margin-top: 20px;
    margin-left: 630px;
    width: 634px;
}

.line2 {
    margin-top: 31px;
    margin-left: 630px;
    width: 634px;
}

.img_google {
    margin-top: -42px;
    margin-left: 852px;
}

.img_face {
    margin-top: -45px;
    margin-left: 845px;
}

::-webkit-input-placeholder {
    color: #a0a0a0 !important;
    font-size: 14px;
    font-weight: bold;
}